<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>下午</string>
		<key>name</key>
		<string>Andy1944</string>
		<key>content</key>
		<string>吃饭了吗？一起吃鸡啊</string>
		<key>avatar</key>
		<string>https://img3.doubanio.com/spic/s4158673.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午</string>
		<key>name</key>
		<string>浪客剑心</string>
		<key>content</key>
		<string>可复用面向对象软件的基础</string>
		<key>avatar</key>
		<string>https://img3.doubanio.com/spic/s4349340.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>name</key>
		<string>地狱火</string>
		<key>content</key>
		<string>是对还是爱好地煞好嗲搜索的好事的厚爱手动is动画</string>
		<key>avatar</key>
		<string>https://img1.doubanio.com/spic/s4349339.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>name</key>
		<string>啦啦啦</string>
		<key>content</key>
		<string>美丽的姑娘，你来自远方，The beautiful one</string>
		<key>avatar</key>
		<string>https://img3.doubanio.com/spic/s3330354.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>09.01</string>
		<key>name</key>
		<string>王师傅</string>
		<key>content</key>
		<string>11112222233333你猜这是什么东西？</string>
		<key>avatar</key>
		<string>https://img3.doubanio.com/spic/s2818051.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>08.12</string>
		<key>name</key>
		<string>田馥甄</string>
		<key>content</key>
		<string>闲来无事，我陪你</string>
		<key>avatar</key>
		<string>https://img3.doubanio.com/spic/s27158662.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>05.31</string>
		<key>name</key>
		<string>张悬</string>
		<key>content</key>
		<string>User Name Unknow!</string>
		<key>avatar</key>
		<string>https://img1.doubanio.com/lpic/s28117087.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>02.02</string>
		<key>name</key>
		<string>猫鼠游戏</string>
		<key>content</key>
		<string>说的啥话大话横岗街道境内图</string>
		<key>avatar</key>
		<string>https://img3.doubanio.com/mpic/s28337122.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>11.12</string>
		<key>name</key>
		<string>使命召唤</string>
		<key>content</key>
		<string>实打实撒大声地撒大我的文档我七点分身乏术法师法师法是否沙发沙发发生发生</string>
		<key>avatar</key>
		<string>https://img1.doubanio.com/mpic/s22720149.jpg</string>
	</dict>
	<dict>
		<key>time</key>
		<string>11.01</string>
		<key>name</key>
		<string>Adele</string>
		<key>content</key>
		<string>收到</string>
		<key>avatar</key>
		<string>https://img1.doubanio.com/spic/s28323478.jpg</string>
	</dict>
</array>
</plist>
